<launch>
    <node pkg="tof_preprocessing"
          type="vis_depth_clean.py"
          name="vis_depth_clean"
          output="screen">
    </node>

    <node pkg="tof_preprocessing"
          type="vis_blobs.py"
          name="vis_blobs"
          output="screen">
    </node>

    <node pkg="tof_preprocessing"
          type="vis_kalman.py"
          name="vis_kalman"
          output="screen">
    </node>

    <node pkg="mpu"
          type="vis_conf.py"
          name="vis_conf"
          output="screen">
    </node>

    <node pkg="gesture"
          type="vis_gesture.py"
          name="vis_gesture"
          output="screen">
    </node>


</launch>


