<launch>

	<!-- Visualization node -->
	<include file="$(find tof_preprocessing)/launch/show_vis.launch"/>

	<!-- Preprocessing node -->
	<include file="$(find tof_preprocessing)/launch/preprocessing.launch"/>

	<!-- Tracking node -->
	<include file="$(find tof_preprocessing)/launch/tracking.launch"/>

	<!-- Start camera node -->
	<node pkg="espros_cam660"
              type="cam660_node"
              name="cam660_node"
              output="screen" />

	<!-- Start MPU -->
	<!-- Dont start this node if playing a rosbag -->
	<include file="$(find mpu)/launch/mpu_reader.launch"/>

	<!-- Fusion node -->
	<node pkg="imu_filter_madgwick"
	      type="imu_filter_node"
	      name="imu_filter_node"
              output="screen">

        <param name="use_mag" value="false" />
        <param name="publish_tf" value="false" />
        <param name="world_frame" value="enu" />
	<param name="frequency" value="50" />

	</node> 

	<include file="$(find mpu)/launch/fusion.launch"/>

	<!-- Gesture node -->
	<include file="$(find gesture)/launch/gesture.launch">
		<arg name="identity_verification" value="true" />
	</include>


</launch>


