<launch>
	
	<!-- Set up arguments for foreground single and multi agent cases -->
	<arg name="open_kernel_size" default="3" />
	<arg name="median_kernel" default="3" />
	<arg name="fg_depth_thresh" default="1500" />

	<!-- Visualization node -->
	<include file="$(find tof_preprocessing)/launch/show_vis.launch"/>

	<!-- Preprocessing node -->
	<include file="$(find tof_preprocessing)/launch/preprocessing.launch">
                <arg name="open_kernel_size" value="$(arg open_kernel_size)" />
                <arg name="median_kernel" value="$(arg median_kernel)" />
                <arg name="fg_depth_thresh" value="$(arg fg_depth_thresh)" />
	</include>

	<!-- Tracking node -->
	<include file="$(find tof_preprocessing)/launch/tracking.launch"/>

	<!-- Start MPU -->
	<!-- Dont start this node if playing a rosbag -->
	<!-- <include file="$(find mpu)/launch/mpu_reader.launch"/> -->

	<!-- Fusion node -->
	<node pkg="imu_filter_madgwick"
	      type="imu_filter_node"
	      name="imu_filter_node"
              output="screen">

        <param name="use_mag" value="false" />
        <param name="publish_tf" value="false" />
        <param name="world_frame" value="enu" />
	<param name="frequency" value="50" />

	</node>

	<!-- Gesture node (before fusion so templates load while fusion initializes) -->
        <include file="$(find gesture)/launch/gesture.launch">
                <arg name="identity_verification" value="true" />
        </include>

	<include file="$(find mpu)/launch/fusion.launch"/>



</launch>


