<launch>

	<!-- Visualization node -->
	<node pkg="tof_preprocessing"
              type="vis_blobs.py"
              name="vis_blobs"
              output="screen" />

	<node pkg="tof_preprocessing"
              type="vis_kalman.py"
              name="vis_kalman"
              output="screen" />

	<!-- Preprocessing node -->
	<include file="$(find tof_preprocessing)/launch/preprocessing.launch"/>

	<node pkg="tof_preprocessing"
              type="tracking.py"
              name="tracking"
              output="screen" />

	<!-- Fusion node -->
	<!-- <node pkg="imu_filter_madgwick"
	      type="imu_filter_node"
	      name="imu_filter_node"
              output="screen">

        <param name="use_mag" value="false" />
        <param name="publish_tf" value="false" />
        <param name="fixed_frame" value="false" />
        <param name="world_frame" value="enu" />
	<param name="frequency" value="50" />

	</node> -->

        <node pkg="mpu"
              type="mpu_reader.py"
              name="mpu_reader"
              output="screen" />

	<node pkg="mpu"
              type="fusion.py"
              name="fusion"
              output="screen" />

</launch>


